<html>
  <head>
    <title> ToDo App </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
  </head>
<body>
  <div class="container">
     <h2> Bantu Shopping List </h2>
<form action ="/addtask" method="POST">
       <input type="text" name="newtask" placeholder="add new shopping item">        <button> Add Item </button>
    <h2> Added Task </h2>
<button formaction="/removetask" type="submit"> Remove </button>
</form>
    <h2> Complete Shopping List </h2>
</div>
</body>
</html>