@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Bubblegum+Sans|Caveat+Brush|Chewy|Lobster+Two');


body {
    width: 100%;
    height: 100%;
    margin: 0px auto;
     text-align: center;
    background-color: white;


}

html {
    width: 100%;
    height: 100%;
}

.forms{
    
    margin-top: 100px;
    
    height: 10%;
    text-align: center;

}

* ===== NAVIGATION ======*/
.navbar {
    border: 0;
    z-index: 9999;
    letter-spacing: 4px; 
    background-color: black;
    

}
.logo {
    display: block;
    height: auto;
    width: 52px;
    padding-top: 5px;
    margin-right: 400px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
   background-color: black;
color: black !important;
}
.navbar .nav > li > a {
  line-height: 50px;
}

.navbar-header h1 {
    letter-spacing: 1px;
    color: white !important;
    font-family: 'Lobster Two', cursive;
    background-color: black
  
}

.navbar li a, .navbar {
    color: black !important;
    font-size: 12px;
    transition: all 0.6s 0s;
     background-color: black;

}

.navbar-toggle {
    background-color: black !important;
    border: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: black !important;
}
.btn-primary {
    
width: 10%;

}
 .btn-success {
     
     width:10%;
 }